# Author Indentification using Text Snippets

Team Members:<br>
MT19019 - Suryank Tiwari <br>
MT19070 - Prateek Agarwal

Guide: Dr. Tanmoy Chakraborty

## Library Imports and File Loading

In [ ]:
#@title
!pip install contractions
!pip install textstat

Requirement already satisfied: contractions in /usr/local/lib/python3.6/dist-packages (0.0.43)
Requirement already satisfied: textsearch in /usr/local/lib/python3.6/dist-packages (from contractions) (0.0.17)
Requirement already satisfied: Unidecode in /usr/local/lib/python3.6/dist-packages (from textsearch->contractions) (1.1.1)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.6/dist-packages (from textsearch->contractions) (1.4.0)
Requirement already satisfied: textstat in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: pyphen in /usr/local/lib/python3.6/dist-packages (from textstat) (0.10.0)

In [ ]:
import nltk
import joblib
import string
import scipy
import numpy as np
import contractions
import pandas as pd
import xgboost as xgb
from textstat.textstat import *
from sklearn import preprocessing
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from sklearn import metrics, model_selection
from sklearn.naive_bayes import MultinomialNB
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import CountVectorizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import TfidfVectorizer

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('treebank')
nltk.download('stopwords')
nltk.download('vader_lexicon')
nltk.download('averaged_perceptron_tagger')

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package treebank to /root/nltk_data...
[nltk_data]   Package treebank is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

!ls "/content/drive/My Drive/author_files"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
CountVectorizer_DF.csv	test_unique.xlsx   train_unique.xlsx
df_features.pkl		test.xlsx	   train.xlsx
test_common.xlsx	train_common.xlsx  X_train.csv

In [ ]:
path_train = '/content/drive/My Drive/author_files/train.xlsx'
path_test = '/content/drive/My Drive/author_files/test.xlsx'

In [ ]:
train_df = pd.read_excel(path_train)
test_df = pd.read_excel(path_test)

train_df = train_df.replace('\n','', regex=True)
test_df = test_df.replace('\n','', regex=True)

# train_df = pd.read_excel('train_common.xlsx')
# test_df = pd.read_excel('test_common.xlsx')

In [ ]:
train_df

          id                                               text author
0      24781         That is the most unbecoming thing there is     WO
1      20561                    I call them forth to credit her     SW
2      62359  She sat up and said as she had determined, "My...     WV
3      28093  ] But your career will have to be entirely dom...     WO
4       9022  Kent banish'd thus? and France in choler parte...     SW
...      ...                                                ...    ...
36313  18837  I'll make a shaft or a bolt on 't; 'slid, 'tis...     SW
36314  39617                       " Dorian Gray shook his head     WO
36315   9074   My cue is villainous melancholy, with a sigh ...     SW
36316   5580      Enter Fortinbras with his Army over the stage     SW
36317  28790   We are specially designed to appeal to the se...     WO

[36318 rows x 3 columns]

In [ ]:
test_df

         id                                               text author
0     37012   Somehow, now that it has happened actually, a...     WO
1      7232          As I walke thither, Ile tell ye more Both     SW
2     59845                    "They want to shut up," he said     WV
3     14685               Then 'banishment' Is death misterm'd     SW
4     17569        With all my heart, so thou canst get a wife     SW
...     ...                                                ...    ...
9075  48208   Clacton, don't you think we should circulariz...     WV
9076  26665          There is nothing but love, and I love her     WO
9077  54429   The great gas chandeliers were alight in the ...     WV
9078  56446   Dalloway carried a despatch box, and his wife...     WV
9079  59930   "But my husband spends his life in digging up...     WV

[9080 rows x 3 columns]

In [ ]:
X_train = train_df.drop(['id', 'author'], axis = 1)
y_train = train_df['author']
X_test = test_df.drop(['id', 'author'], axis = 1)
y_test = test_df['author']

train_length=X_train.shape[0]

## Preprocessing methods
1. Tokenize
2. Lemmatize
3. Stopword Removal
4. Contraction expanding
5. Punctuation Removal
6. Lowercase conversion

In [ ]:
def preprocess(df):
    tokenized_list = []
    lemmatizer = WordNetLemmatizer() 
    stopwords_set = set(stopwords.words('english'))
    for index, row in df.iterrows():
        tokenized_sentence = nltk.word_tokenize(row['text'])
        lemmatized_sentence = []
        temp_dict = {}
        expanded_words = []
        for word in tokenized_sentence:
            expanded_words.append(contractions.fix(word))
        for word in expanded_words:
            lemmatized_sentence.append(lemmatizer.lemmatize(word))
        
        table = str.maketrans('', '', string.punctuation)
        stripped = [w.translate(table) for w in lemmatized_sentence]
        stopword_removed_list = [word for word in stripped if not word in stopwords_set]
        stopword_removed_list = [word.lower() for word in stopword_removed_list if word]
        temp_dict['text'] = stopword_removed_list
        tokenized_list.append(temp_dict)

    df = pd.DataFrame(tokenized_list)
    return df

In [ ]:
frames = [X_train, X_test]
X = pd.concat(frames)
X

                                                   text
0            That is the most unbecoming thing there is
1                       I call them forth to credit her
2     She sat up and said as she had determined, "My...
3     ] But your career will have to be entirely dom...
4     Kent banish'd thus? and France in choler parte...
...                                                 ...
9075   Clacton, don't you think we should circulariz...
9076          There is nothing but love, and I love her
9077   The great gas chandeliers were alight in the ...
9078   Dalloway carried a despatch box, and his wife...
9079   "But my husband spends his life in digging up...

[45398 rows x 1 columns]

In [ ]:
processed_df = preprocess(X)
text = 'text'
processed_df

                                                    text
0                              [that, unbecoming, thing]
1                               [i, call, forth, credit]
2      [she, sat, said, determined, my, head, ache, i...
3                      [but, career, entirely, domestic]
4      [kent, banish,  would, thus, france, choler, p...
...                                                  ...
45393  [clacton, nt, think, circularize, province, pa...
45394                    [there, nothing, love, i, love]
45395  [the, great, gas, chandelier, alight, office, ...
45396  [dalloway, carried, despatch, box, wife, dress...
45397  [but, husband, spends, life, digging, manuscri...

[45398 rows x 1 columns]

## Feature Extraction

In [ ]:
def extract_features(df, raw_df):

    # BASELINE FEATURES
    syllables=[]
    num_chars=[]
    num_terms=[] 
    average_syllables=[]
    num_unique_terms=[]
    avg_word_length = []

    punctuations = []
    stopw_count = []

    # VADER features
    vader_negatives=[]
    vader_neutrals=[]
    vader_positives=[]
    vader_compound_sentiments=[]

    word_counts = dict()
    word_lengths = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen']
    for length in word_lengths:
      word_counts[length]=[]
    sid = SentimentIntensityAnalyzer()
    count = lambda l1,l2: sum([1 for x in l1 if x in l2])

    for i in range(df.shape[0]):
        sentence = df[text].iloc[i]

        syllable_count=textstat.syllable_count(' '.join(sentence))
        character_count=sum(len(word) for word in sentence)
        term_count=len(sentence)
        avg_syllabs=round(float((syllable_count+0.001))/float(term_count+0.001),4)
        mean_word_length = np.mean([len(word) for word in sentence])

        syllables.append(syllable_count)
        num_chars.append(character_count)
        num_terms.append(term_count)
        average_syllables.append(avg_syllabs)
        num_unique_terms.append(len(set(sentence)))
        avg_word_length.append(mean_word_length)

        raw_sentence = raw_df['text'].iloc[i]
        punctuation_count = count(raw_sentence,set(string.punctuation))
        tokenized_sentence = nltk.word_tokenize(raw_sentence)
        stopwords_set = set(stopwords.words('english'))
        stopwords_sentence = [w for w in tokenized_sentence if w in stopwords_set]
        stopword_count = len(stopwords_sentence)

        punctuations.append(punctuation_count)
        stopw_count.append(stopword_count)

        # VADER
        vader_score = sid.polarity_scores(' '.join(sentence))
        vader_negatives.append(vader_score['neg'])
        vader_neutrals.append(vader_score['neu'])
        vader_positives.append(vader_score['pos'])
        vader_compound_sentiments.append(vader_score['compound'])

        word_length_counts = [0]*len(word_lengths)
        for length, label in enumerate(word_lengths):
          for word in sentence:
            try:
              word_length_counts[len(word)-1]+=1
            except:
              pass
        for length, label in enumerate(word_lengths):
          word_counts[label].append(word_length_counts[length])
          
    
    features = {'text_df':df[text], #'class':df['class'],
            'vader_negative':vader_negatives,
            'vader_neutral':vader_neutrals,
            'vader_positive':vader_positives,
            'syllables':syllables,
            'num_chars':num_chars,
            'num_terms':num_terms,
            'average_syllables':average_syllables,
            'num_unique_terms':num_unique_terms,
            'punctuation_count':punctuations,
            'stopword_count':stopw_count,
            'average_word_length':avg_word_length
    }
    for length in word_lengths:
      features['word_length_'+length]=word_counts[length] 

    feature_df = pd.DataFrame.from_dict(features)
    return feature_df

In [ ]:
df = extract_features(processed_df, X)
general_df = df.copy()
general_df = general_df.drop(columns=['text_df'], axis=1)

In [ ]:
df

                                                 text_df  ...  word_length_sixteen
0                              [that, unbecoming, thing]  ...                    0
1                               [i, call, forth, credit]  ...                    0
2      [she, sat, said, determined, my, head, ache, i...  ...                    0
3                      [but, career, entirely, domestic]  ...                    0
4      [kent, banish,  would, thus, france, choler, p...  ...                    0
...                                                  ...  ...                  ...
45393  [clacton, nt, think, circularize, province, pa...  ...                    0
45394                    [there, nothing, love, i, love]  ...                    0
45395  [the, great, gas, chandelier, alight, office, ...  ...                    0
45396  [dalloway, carried, despatch, box, wife, dress...  ...                    0
45397  [but, husband, spends, life, digging, manuscri...  ...                    0

[45398 rows x 28 columns]

### Compute TF-IDF features

In [ ]:
def get_tf_idf_features():
  vectorizer = TfidfVectorizer(tokenizer=None, preprocessor=None, ngram_range=(1, 3), use_idf=True, smooth_idf=False, norm=None, decode_error='replace', max_features=7000, min_df=5, max_df=0.75)
  sentences=[]
  for sentence in processed_df[text]:
      sentences.append(' '.join(sentence))
  tf_idf_features = vectorizer.fit_transform(sentences).toarray()
  # tf_idf_feature_vocab = {v:i for i, v in enumerate(vectorizer.get_feature_names())}
  tf_idf_features = pd.DataFrame(tf_idf_features)
  return tf_idf_features
tf_idf_features = get_tf_idf_features()

### Compute POS Tag Features

In [ ]:
def get_pos_tag_features():
  pos_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1,3))
  sentence_pos_tags = []
  for sentence in processed_df[text]:
      tags = nltk.pos_tag([word for word in sentence if word])
      tags = [tag[1] for tag in tags]
      sentence_pos_tags.append(" ".join(tags))
  pos_tag_features = pos_vectorizer.fit_transform(pd.Series(sentence_pos_tags)).toarray()
  # pos_tag_feature_vocab = {v:i for i, v in enumerate(pos_vectorizer.get_feature_names())}
  pos_tag_features = pd.DataFrame(pos_tag_features)
  return pos_tag_features
pos_tag_features = get_pos_tag_features()

### Reducing sparsity using SVD

In [ ]:
def SVD_Reduce(features, components=20):
  svd = TruncatedSVD(n_components=components, algorithm='arpack')
  svd.fit(features)
  train = pd.DataFrame(svd.transform(features.iloc[:train_length]))
  test = pd.DataFrame(svd.transform(features.iloc[train_length:]))
  return train, test

In [ ]:
components=20
tf_idf_svd_train, tf_idf_svd_test = SVD_Reduce(tf_idf_features, components)
pos_svd_train, pos_svd_test = SVD_Reduce(pos_tag_features, components)

In [ ]:
train_df = df.iloc[:train_length].reset_index(drop=True)
test_df = df.iloc[train_length:].reset_index(drop=True)
train_df = pd.concat([train_df, tf_idf_svd_train, pos_svd_train], axis=1)
test_df = pd.concat([test_df, tf_idf_svd_test, pos_svd_test], axis=1)
del tf_idf_svd_train, tf_idf_svd_test, pos_tag_features, pos_svd_train, pos_svd_test

for i in range(train_df.shape[0]):
  train_df.at[i, 'text_df']=' '.join(train_df.iloc[i]['text_df'])
for i in range(test_df.shape[0]):
  test_df.at[i, 'text_df']=' '.join(test_df.iloc[i]['text_df'])

### Count Vectorizer

In [ ]:
tfidf_vec = CountVectorizer(stop_words='english', ngram_range=(1,3))
tfidf_vec.fit(train_df['text_df'].values.tolist() + test_df['text_df'].values.tolist())
train_tfidf = tfidf_vec.transform(train_df['text_df'])
test_tfidf = tfidf_vec.transform(test_df['text_df'])

author_mapping_dict = {'WO':0, 'SW':1, 'WV':2}
train_df['author']=y_train
train_y = train_df['author'].map(author_mapping_dict)
train_df=train_df.drop(columns=['author','text_df'],axis=1)

train_df

       vader_negative  vader_neutral  ...        18        19
0               0.000          1.000  ...  0.068328 -0.020955
1               0.000          0.435  ...  0.056489  0.028148
2               0.200          0.615  ...  0.020258  0.030420
3               0.000          1.000  ... -0.081891 -0.170033
4               0.091          0.815  ...  0.023420 -0.117704
...               ...            ...  ...       ...       ...
36313           0.000          1.000  ...  0.022949 -0.166795
36314           0.318          0.682  ...  0.042062 -0.040661
36315           0.437          0.296  ...  0.033420  0.009641
36316           0.000          1.000  ...  0.076010 -0.033706
36317           0.000          0.617  ...  0.086955  0.033880

[36318 rows x 67 columns]

In [ ]:
test_df=test_df.drop(columns=['text_df'],axis=1)
test_df

      vader_negative  vader_neutral  ...        18        19
0              0.000          0.496  ...  0.023575  0.093813
1              0.000          1.000  ... -0.082231 -0.077273
2              0.000          0.698  ...  0.003320  0.016502
3              0.438          0.562  ...  0.208780  0.086704
4              0.000          1.000  ...  0.016451  0.037476
...              ...            ...  ...       ...       ...
9075           0.000          0.781  ... -0.007257 -0.040574
9076           0.771          0.229  ... -0.046032  0.198090
9077           0.000          0.594  ...  0.039742  0.127192
9078           0.000          0.704  ... -0.037272  0.069785
9079           0.000          0.828  ...  0.080289 -0.026790

[9080 rows x 67 columns]

In [ ]:
test = test_df
train = train_df

In [ ]:
def get_final_df():
  global df, tf_idf_features
  df = pd.concat([df,tf_idf_features], axis=1)
  del tf_idf_features
  return df.iloc[:train_length], df.iloc[train_length:].reset_index(drop=True)

In [ ]:
def get_data():
  X_train, X_test = get_final_df()
  train_text = X_train['text_df']
  test_text = X_test['text_df']
  X_train = X_train.drop(columns=['text_df'], axis=1).reset_index(drop=True)
  X_test = X_test.drop(columns=['text_df'], axis=1).reset_index(drop=True)
  return X_train, X_test, train_text, test_text

X_train, X_test, train_text, test_text = get_data()

In [ ]:
# train.to_csv('/content/drive/My Drive/author_files/CountVectorizer_DF.csv',index=False)
# X_train.to_csv('/content/drive/My Drive/author_files/X_train.csv',index=False)

### Outlier Removal using Isolation Forest

In [ ]:
# def remove_outliers(x_data):
#     clf = IsolationForest(random_state = 0)
#     labels = clf.fit_predict(x_data)
#     print("Number of outliers using Isolation Forest: ",list(labels).count(-1))
#     rows_tar1 = []
#     for i in range(0,len(labels)):
#         if labels[i] == -1:   #outliers
#             rows_tar1.append(i)
#         x_data_new = x_data[~x_data.index.isin(rows_tar1)]
#     return x_data_new 

# def outlier(train): 
#     # Train has X_Train & y_train merged into a dataframe
#     dfLHP = train[train['author'] == 2 ]
#     dfLHP = dfLHP.reset_index()
#     dfWO = train[train['author'] == 1 ]
#     dfWO = dfWO.reset_index()
#     dfPEA = train[train['author'] == 0 ]
#     dfPEA = dfPEA.reset_index()

#     dfLHP = remove_outliers(dfLHP) 
#     dfWO = remove_outliers(dfWO) 
#     dfPEA = remove_outliers(dfPEA) 
#     #train = remove_outliers(train)
#     return pd.concat([dfLHP, dfWO, dfPEA], axis=0, sort=False)

In [ ]:
# y_train = y_train.replace("LHP",2)
# y_train = y_train.replace("WO",1)
# y_train = y_train.replace("PEA",0)
# train = pd.concat([X_train, y_train], axis=1, sort=False)

# train = outlier(train)
# y_train = train['author']
# y_train = y_train.replace({2:"LHP", 1:"WO", 0:"PEA"})
# X_train = train.drop(columns=['author'], axis=1)

## Classification

In [ ]:
from sklearn.model_selection import StratifiedKFold, GridSearchCV
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline

### Multinomial Naive Bayes

In [ ]:
model = MultinomialNB()
model.fit(train_tfidf, y_train)
y_pred = model.predict(test_tfidf)
pred_test_y = model.predict_proba(test_tfidf)
report = classification_report(y_test, y_pred)
print(report)
print('Log Loss:', metrics.log_loss(y_test, pred_test_y))

              precision    recall  f1-score   support

          SW       0.89      0.92      0.90      3144
          WO       0.82      0.69      0.75      2786
          WV       0.78      0.87      0.82      3150

    accuracy                           0.83      9080
   macro avg       0.83      0.83      0.83      9080
weighted avg       0.83      0.83      0.83      9080

Log Loss: 0.4298314872970045

### Logistic Regression

In [ ]:
pipe = Pipeline(
        [('select', SelectFromModel(LogisticRegression(class_weight='balanced', penalty="l1", C=0.01, solver='liblinear'))),
        ('model', LogisticRegression(class_weight='balanced',penalty='l1', solver='liblinear'))])

In [ ]:
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()
param_grid = [{}]
grid_search = GridSearchCV(pipe, param_grid, cv=StratifiedKFold(n_splits=5, random_state=42).split(X_train, y_train), verbose=2)
model = grid_search.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[CV]  ................................................................
[CV] ................................................. , total=  32.0s
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   32.0s remaining:    0.0s

[CV] ................................................. , total=  30.7s
[CV]  ................................................................
[CV] ................................................. , total=  18.9s
[CV]  ................................................................
[CV] ................................................. , total=  29.9s
[CV]  ................................................................
[CV] ................................................. , total=  31.8s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  2.4min finished

In [ ]:
y_preds_logistic = model.predict(X_test)
y_preds_logistic_proba = model.predict_proba(X_test)

In [ ]:
def convert_labels(test, preds):
  test=np.array(test)
  preds=np.array(preds)
  labels=np.unique(test)
  for itr, label in enumerate(labels):
    test[test==label]=itr
    preds[preds==label]=itr
  return test, preds

In [ ]:
report = classification_report( y_test, y_preds_logistic )
print(report)
test, preds = convert_labels(y_test, y_preds_logistic)

# Added to remove the error of ValueError: Unknown label type
test = test.astype('int')
print('Log Loss:', metrics.log_loss(test, y_preds_logistic_proba))

              precision    recall  f1-score   support

          SW       0.84      0.87      0.85      3144
          WO       0.71      0.72      0.71      2786
          WV       0.80      0.76      0.77      3150

    accuracy                           0.78      9080
   macro avg       0.78      0.78      0.78      9080
weighted avg       0.78      0.78      0.78      9080

Log Loss: 0.5023842908786998

### Passive Aggressive Classifier

In [ ]:
pa_classifier=PassiveAggressiveClassifier(max_iter=50)
pa_classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_stochastic_gradient.py:557: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [ ]:
y_pred=pa_classifier.predict(X_test)

In [ ]:
y_pred=pa_classifier.predict(X_test)

report = classification_report( y_test, y_pred )
print(report)
test, preds = convert_labels(y_test, y_pred)

# Added to remove the error of ValueError: Unknown label type
# test = test.astype('int')
# preds = preds.astype('int')
# print('Log Loss:', metrics.log_loss(test, preds))

              precision    recall  f1-score   support

          SW       0.88      0.88      0.88      3144
          WO       0.85      0.52      0.65      2786
          WV       0.68      0.91      0.78      3150

    accuracy                           0.78      9080
   macro avg       0.80      0.77      0.77      9080
weighted avg       0.80      0.78      0.77      9080